config FINGERPRINT_CHIPONE_FPS_MMI
	tristate "Finger print card Chipone MMI"
	depends on INPUT_FINGERPRINT
	default n
	help
	  Say Y here to enable support for Fingerprint chip TEE driver

	  If unsure, say N.

	  To compile this driver as a module, choose M here.
